.titulo-1{
  color : lightcoral;
  font-size: 6em;
  font-family: 'lobster' , cursive;
  text-align: center;
  text-shadow: 2px 2px 7px #000, 2px 2px 7px #000, 2px 2px 7px #000,  2px 2px 7px #000, 2px 2px 7px #000, 2px 2px 7px #000;
  font-family: 'Lobster', cursive;
}


.nombre-1{

  padding-left:450px;

}

.username{
  display: inline-block;
  padding-bottom:20px ;
  padding-left:450px;
  padding-right:20px;
  padding-top:25px;
  font-size: 2em;
}


.boton-jugar{
  padding-bottom:20px ;
  padding-left:500px;
  padding-right:20px;
  padding-top:20px;

}

.tutorial-1{
  padding-bottom:20px ;
  padding-left:380px;
  padding-right:20px;
  padding-top:340px;
}

.derechos-autor{
  padding-bottom:20px ;
  padding-left:380px;
  padding-right:20px;
  padding-top:20px;
  background-color: seagreen;
  color: lightgreen;
}

.preguntas-1{
  text-align: center;
}

.pagina-2{
  text-align: center;
}

.button{
  box-shadow: 2px 4px 15px 0 #000;
  color: seagreen;
  font-size:1.5em;
  padding:10px;
  width: 400px;
}

.button:hover{
  background-color: #F1948A ;
  color: #fff;
}

.bandera-1{
  background-color: #eaeaea;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.bandera-1:hover{
  background-color: #333;
  color: #fff;

}

.fondo-1{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa3LYNtXMRz_j1jL7rT2l9Qfj9ClMTJN81o--74WhglaMyJ8BXrPpCUJsBvbuPeO-ln5w&usqp=CAU) ;
}

.fondo-2{
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/567/358/desktop-wallpaper-general-knowledge-quiz-general-knowledge.jpg) ;
  background-size: auto;
  background-attachment: fixed;
}

.tematica-1{
  color : lightgrey;
  font-family: cursive;
  text-shadow: 2px 2px 7px #000,2px 2px 7px #000,2px 2px 7px #000,2px 2px 7px #000 ;
}

.fondo-preguntas{
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/567/358/desktop-wallpaper-general-knowledge-quiz-general-knowledge.jpg) ;
}

.prop-boton-jugar{
  font-size: 3em;
  box-shadow: 10px 20px 15px 0 #000;
  border-radius: 200%;
  background-color: lightcoral;
  width: fit-content;
  margin: 40px auto;
  padding:20px 30px;
}

.prop-boton-jugar:hover{
  background-color: #129;
}

.boton-tematicas{
  font-size: 2.5em;
  background-color: lightcoral;
  padding:10px 15px;
  border-radius: 50px;
  width: 350px;
}

.boton-tematicas:hover{
  background-color: #129;
}

.boton-preguntas{
  font-size: 2.5em;
  background-color: #F7DC6F ;
  padding:20px;
  border-radius: 50px;
}

.bandera-1{
  font-size: 2em;
}

.volver-1{
  background-color: lightcoral;
  font-size: 2em;
  width: 100px;
}

.volver-1:hover{
  background-color: #129;
}

.ingresar{
  padding: 20px 10px 10px 0px ;
  margin-left: 50px;
  border-radius: 10px;
  width: 85px;
  background-color: #F7DC6F;
}

.ingresar:hover{
  background-color:#149;
}